---
import { useState } from 'react';
const { title, description, image, enlace } = Astro.props;
---

<div class="relative group overflow-hidden rounded-lg shadow-md transition-transform transform hover:scale-105 bg-[#F0F4F8] dark:bg-[#1E293B] flex flex-col items-center h-full">
    <!-- Image Section -->
    <div class="p-4 rounded-t-lg flex justify-center items-center w-full">
        <img
            src={image}
            alt={title}
            class="w-32 h-32 object-cover rounded-lg shadow-lg"
        />
    </div>
    <!-- Heading Section -->
    <div class="p-4 text-center w-full flex flex-col items-center flex-grow">
        <h3 class="text-xl font-bold text-[#1E3A8A] dark:text-[#F6C453] mb-2 font-raleway">
            {title}
        </h3>
        <p class="text-base text-[#345B79] dark:text-[#D1D5DB] mb-4 font-libre-baskerville">
            {description}
        </p>
    </div>
    <!-- Action Button -->
    <div class="p-4 text-center w-full flex justify-center mt-auto">
        <a href={enlace}>
            <button class="bg-[#1E3A8A] hover:bg-[#345B79] text-white font-bold py-2 px-6 rounded-full transition-transform transform hover:scale-110 shadow-md">
                Ver más
            </button>
        </a>
    </div>
</div>
